dist: bionic
language: python
python:
  - "3.4"
  - "3.5"
  - "3.5-dev"  # 3.5 development branch
  - "3.6"
  - "3.6-dev"  # 3.6 development branch
# command to install dependencies
before_install:
  - sudo apt-get update
  - sudo apt-get install -y antlr4
install:
  - pip3 install antlr4-python3-runtime matplotlib numpy 
# command to run tests
script:
  - make all
  - python3 test.py
