name: "Test: C/C++/Python"

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: '3.x'
        
    - uses: actions/checkout@v2
    - name: Install dependencies
      run: |
        python -m pip install -r reqs/requirements.txt
        make all
    - name: make test
      run: make test
  
  build_win:

    runs-on: windows-latest

    steps:
    - uses: Vampire/setup-wsl@v1
      with:
        distribution: Ubuntu-22.04
        additional-packages:
          python3-dev
          bison
          flex
          python3-pip
          build-essential 
          libssl-dev 
          libffi-dev
          python3.10-venv
    
    - uses: actions/checkout@v2
    - name: python deps
      shell: wsl-bash {0}
      run: |
        unset DISPLAY 
        python3 -m venv env
        source env/bin/activate
        python3 -m pip install --upgrade pip
        python3 -m pip -v install -r reqs/requirements.txt
        
    - name: test
      shell: wsl-bash {0}
      run: |
        source env/bin/activate
        make test
