name: "Binding Tests: Perl"

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:


  build_perl:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: perl install
      run: sudo apt install perl
    - name: make perl
      run: make perl
    - name: test perl
      run: perl src/perl/example_application.pl
