name: "Binding Tests"

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build_java:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: java dependencies 
      run: |
        sudo apt-get install default-jdk -y
        sudo apt-get install openjdk-8-jdk -y
        
    - name: make java
      run: |
        make java



