name: "Test: Packages"

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
jobs:
  pypi_linux:
    name: "PyPi: Linux"
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: '3.x'
    - uses: actions/checkout@v2
    - name: Test PyPi
      run: |
        python3 -m pip install gnoll 
        # --index-url https://test.pypi.org/simple/
        python3 -c "from gnoll.parser import roll; roll('d34')"

  pypi_windows:
    name: "PyPi: Windows"
    runs-on: windows-2022
    steps:
    - uses: Vampire/setup-wsl@v1
      with:
        distribution: Ubuntu-22.04
        update: 'true'
        additional-packages:
          python3-dev
          bison
          flex
          python3-pip
          build-essential
          libssl-dev
          libffi-dev
          python3.10-venv
    - name: Test Windows
      run: |
        python3 -m pip install gnoll --index-url https://test.pypi.org/simple/
        python3 -c "from gnoll.parser import roll; roll('d34')"

  pypi_mac:
    name: "PyPi: MacOS"
    runs-on: macos-12
    steps:
      - uses: actions/checkout@v3
      - name: Build
        run: make all
      - name: Test
        run: |       
          python3 -m pip install gnoll 
          # --index-url https://test.pypi.org/simple/
          python3 -c "from gnoll.parser import roll; roll('d34')"
