name: "Binding Tests"

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build_go:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: go install
      run: sudo apt install golang-go
    - name: make go
      run: make go

  build_javascript:
    runs-on: ubuntu-22.0
    steps:
    - uses: actions/checkout@v3
    - name: Install LLVM and Clang
      uses: KyleMayes/install-llvm-action@v1
      with:
        version: "10.0"
    - name: python deps
      run: python3 -m pip install -r reqs/requirements.txt
    - name: javascript prerequisites
      run: |
        sudo apt install clang-14 lld-14 llvm-14 nodejs libjs-d3 python3-numpy
        sudo apt install nodejs llvm -y
        wget -c http://archive.ubuntu.com/ubuntu/pool/universe/e/emscripten/emscripten_3.1.6~dfsg-5_all.deb
        sudo apt install ./emscripten_3.1.6~dfsg-5_all.deb
    - name: make js
      run: |
        emcc -v
        make js
        node ./build/js/a.out.js 1d20

  build_julia:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: go install
      run: sudo apt install julia
    - name: make julia
      run: make julia


  build_perl:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: perl install
      run: sudo apt install perl
    - name: make perl
      run: make perl
    - name: test perl
      run: perl src/perl/example_application.pl


  build_R:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - uses: r-lib/actions/setup-r@v2
    - name: make r
      run: make r

  buildjava:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: make java
      run: |
        sudo apt-get install default-jdk -y
        sudo apt-get install openjdk-8-jdk--headless -y
        sudo apt-get install openjdk-8-jdk -y
        make java